body {
  background: #303030;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
iframe {
  width: 85vw;
  height: auto;
  filter: grayscale(0.2);
  opacity: 0.95;
}
